# My Final Assigment

###### This will be my Jupyter notebook with the required exercises

### Data science languages:
    Python
    R
    Java
    Julia
    SQL
    Scala
    JavaScript
    C++
    Apache MLlib
    Weka

### Data science libraries:
    TensorFLow
    Numpy
    Pycharm
    Pandas
    Matplotlib
    ggplot2
    Lattice
    Seaborn
    Scikit-learn
    Keras
    Pytorch

# Data Science Tools Table

| Data Management Tools | Data Integration and Transformation Tools | Data Visualization Tools |
|-----------------|-----------------------------------|-------------------|
| MySQL           | Apache Airflow                    | Cognos Analytics   |
| MongoDB         | Apache Kafka                      | Tableau           |
| Apache Spark    | none                              | PowerBI           |

## Arithmetic Expression Examples

Arithmetic expressions are mathematical expressions that involve numerical operations such as addition, subtraction, multiplication, and division. These expressions are commonly used in programming and mathematics to perform calculations.

Here are some examples of arithmetic expressions:

1. Addition:

In [19]:
2+2

4

2. Subtraction:

In [21]:
5-2

3

3. Multiplication:

In [22]:
10*40

400

In [23]:
# Multiply two numbers
num1 = 5
num2 = 10
result_multiply = num1 * num2

# Add two numbers
num3 = 15
num4 = 20
result_add = num3 + num4

# Print the results
print("Result of multiplication:", result_multiply)
print("Result of addition:", result_add)

Result of multiplication: 50
Result of addition: 35

In [24]:
# Input minutes
minutes = 135

# Convert minutes to hours
hours = minutes / 60

# Print the result
print(f"{minutes} minutes is equal to {hours:.2f} hours")

135 minutes is equal to 2.25 hours

# Objectives:
    Understand the Data Science Task Categories.
    Explore various Data Science Tools and Libraries.
    Learn about Data Visualization and its importance.
    Gain knowledge about different Machine Learning Models.
    Get familiar with Deep Learning and its applications.
    Explore open data sources and their significance in Data Science.
    Understand the concept of Model Deployment and Monitoring.
    Learn about version control and collaboration using Git and GitHub.
    Explore the use of Jupyter Notebooks and Google Colab for data analysis.
    Understand how to work with APIs and integrate them into projects.
    Explore popular Data Science languages like Python and R.
    These objectives will guide us through the course and help us achieve a comprehensive understanding of Data Science concepts and tools.

# My name is André Benquerença